
/* start step one styles */

.infoCard {
  border: 1px solid #f0f0f0;
  margin-bottom: 1.875rem;
}

.infoCardBody {
  padding: 1.5rem;
}

.infoGroup {
  margin-bottom: 1.25rem;
  position: relative;
}

.submitSection button {
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  min-width: 120px;
  background-color: #09e5ab;
  border: 1px solid #09e5ab;
}

.submitSection button:hover,.submitSection button:focus{
  background-color: #10DEFD;
  border: 1px solid #10DEFD;
  box-shadow: none;
}

.loginOr {
  color: #d4d4d4;
  margin-bottom: 1.25rem;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.loginOr span:first-child {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}
/* End step one styles */