
/* start step one styles */

.infoCard {
  border: 1px solid #f0f0f0;
  margin-bottom: 1.875rem;
}

.infoCardBody {
  padding: 1.5rem;
}

.infoGroup {
  margin-bottom: 1.25rem;
  position: relative;
}


.loginOr {
  color: #d4d4d4;
  margin-bottom: 1.25rem;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.loginOr span:first-child {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}

.selectRegisterType {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.selectRegisterType .registerOption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectRegisterType .registerOption input {
  display: none;
}
.selectRegisterType .registerOption label {
  background: #ffffff;
  box-shadow: 0px 4px 24px rgb(194 194 194 / 25%);
  border-radius: 5px;
  padding: 28px;
  width: 100%;
  text-align: center;
  position: relative;
  border: 1px solid transparent;
  transition-duration: 300ms;
}
.selectRegisterType .registerOption input:checked + label {
  background-color: rgba(212, 237, 255, 0.25);
  border-color: #0de0fe;
  font-weight: 600;
}
.selectRegisterType .registerOption input:checked + label span {
}
.selectRegisterType .registerOption label span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End step one styles */