.sectionSearch {
  background: #f9f9f9 url(../../../../assets//search-bg.png) no-repeat bottom
    center;
  min-height: 450px;
  background-size: 100% auto;
  position: relative;
  background-blend-mode: Darken;
  padding: 80px 0;
}

.bannerWrapper {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.searchBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchBox .formControl {
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  padding-left: 35px;
}
.formText {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #6c757d;
}
.searchLocation {
  -ms-flex: 0 0 240px;
  flex: 0 0 240px;
  margin-right: 12px;
  position: relative;
  width: 240px;
}

.formControl::-webkit-input-placeholder {
  color: #858585;
  font-size: 14px;
}

.formControl::-moz-placeholder {
  color: #858585;
  font-size: 14px;
}

.formControl:-ms-input-placeholder {
  color: #858585;
  font-size: 14px;
}

.formControl::-ms-input-placeholder {
  color: #858585;
  font-size: 14px;
}

.formControl::placeholder {
  color: #858585;
  font-size: 14px;
}

.formControl[type='file'] {
  min-height: auto;
}

.formControl:focus {
  border-color: #bbb;
  box-shadow: none;
  outline: 0 none;
}

.formControl {
  border: 1px solid #c4c4c4;
  color: #000;
  font-size: 15px;
  min-height: 46px;
  padding: 6px 15px;
}

.searchInfo {
  -ms-flex: 0 0 490px;
  flex: 0 0 490px;
  margin-right: 12px;
  position: relative;
  width: 490px;
}
.searchBtn {
  width: 46px;
  -ms-flex: 0 0 46px;
  flex: 0 0 46px;
  height: 46px;
}

.searchBtn span {
  display: none;
  font-weight: 500;
}

.searchBtn span {
  display: inline-block;
  margin-left: 5px;
  text-transform: uppercase;
}

.btnPrimary {
  background-color: #09e5ab;
  border: 1px solid #09e5ab;
}
.btnPrimary span {
  display: none;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary.active,
.btnPrimary:active,
.open > .dropdown-toggle.btnPrimary {
  background-color: #10defd;
  border: 1px solid #10defd;
}

.btnPrimary.active.focus,
.btnPrimary.active:focus,
.btnPrimary.active:hover,
.btnPrimary.focus:active,
.btnPrimary:active:focus,
.btnPrimary:active:hover,
.open > .dropdown-toggle.btnPrimary.focus,
.open > .dropdown-toggle.btnPrimary:focus,
.open > .dropdown-toggle.btnPrimary:hover {
  background-color: #10defd;
  border: 1px solid #10defd;
}

.btnPrimary.active:not(:disabled):not(.disabled),
.btnPrimary:active:not(:disabled):not(.disabled),
.show > .btnPrimary.dropdown-toggle {
  background-color: #10defd;
  border-color: #10defd;
  color: #fff;
}

.btnPrimary.active:focus:not(:disabled):not(.disabled),
.btnPrimary:active:focus:not(:disabled):not(.disabled),
.show > .btnPrimary.dropdown-toggle:focus {
  box-shadow: unset;
}

.btnPrimary.disabled,
.btnPrimary:disabled {
  background-color: #0071dc;
  border-color: #0071dc;
  color: #fff;
}

@media only screen and (max-width: 1199.98px) {
  .containerFluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 991.98px) {
  .bannerWrapper {
    max-width: 720px;
  }

  .searchLocation {
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
    margin-right: 12px;
    position: relative;
    width: 240px;
  }
  .searchInfo {
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    width: 180px;
  }
}
@media only screen and (max-width: 767.98px) {
  .searchBox form {
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
  }

  .searchLocation {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .searchInfo {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .searchBtn {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-height: 46px;
    width: 100%;
  }
  .btnPrimary span {
    display: inline;
    color: white;
  }
}

@media only screen and (max-width: 575.98px) {
  .searchBox form {
    display: block;
  }
  .searchLocation {
    width: 100%;
    -ms-flex: none;
    flex: none;
  }
  .searchInfo {
    width: 100%;
    -ms-flex: none;
    flex: none;
  }
}
