.loginRight {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 25px;
}

.loginHeader {
  margin-bottom: 20px;
}

.loginHeader h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3px;
}

.loginHeader h3 a {
  color: #0de0fe;
  float: right;
  font-size: 15px;
  margin-top: 2px;
}

.loginBtn {
  font-size: 18px;
  font-weight: 500;
}

.loginBtnPrimary {
  color: white;
  background-color: #09e5ab;
  border: 1px solid #09e5ab;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.loginBtnPrimary:hover,
.loginBtnPrimary:focus {
  background-color: #10defd;
  border-color: #10defd;
  box-shadow: none;
}

@media only screen and (max-width: 767.98px) {
  .content {
    padding: 15px 0;
  }

  .loginRight {
    margin: 0 15px;
    padding: 15px;
  }
  .loginBtn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 479px) {
  .loginHeader h3 {
    text-align: center;
  }
  .loginHeader h3 a {
    color: #0de0fe;
    float: none;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    display: block;
  }
}
