@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

.shared-modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

/* linear-gradient(rgba(22, 28, 36, 0.94), rgba(22, 28, 36, 0.94)) center center / cover no-repeat, url(/assets/background/overlay_2.jpg); */

@layer base {
  :root {
    --theme-primary: rgb(0, 171, 85);
    --theme-secondary: rgb(215, 242, 228);
    --stroke-primary: #637381;
    --bg-blurred: #ffffff82;
    --bg-blurred-secondary: rgba(255, 255, 255, 0.9);

    --bg-login-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );

    --icons-secondary: ;
    --text-primary: black; /*important*/
    --text-secondary: #2c3e50; /*important*/
    --text-active: #00ab55; /*important*/
    --calendar-text: black;
    --background-primary: white; /*important*/
    --background-secondary: white; /*important*/
    --bg-active: rgba(0, 171, 85, 0.7);
    --layout-primary: white; /*important*/
    --layout-secondary: rgba(145, 158, 171, 0.16); /*important*/
    --scroll-color: #d0d0d0;
    --scrollbar-track-color: #f1f1f1;
  }
  .dark {
    --stroke-primary: white;
    --text-primary: white; /*important*/
    --text-secondary: #919eab; /*important*/
    --text-active: #38bdf8; /*important*/
    --calendar-text: white;
    --bg-blurred: rgb(0 0 0 / 24%);
    --bg-blurred-secondary: rgba(22, 28, 36, 0.9);
    --background-primary: #161c24; /*important*/
    --background-secondary: #212b36; /*important*/
    --layout-primary: #161c24; /*important*/
    --layout-secondary: #424242; /*important*/
    --bg-login-image: linear-gradient(
      rgba(22, 28, 36, 0.94),
      rgba(22, 28, 36, 0.94)
    );
  }
  .custom {
    --text-primary: #65a30d; /*important*/
    --text-secondary: black; /*important*/
    --text-active: #65a30d; /*important*/
    --text-hover: red; /*important*/
    --calendar-text: black;
    --background-primary: #4d7c0f; /*important*/
    --background-secondary: white; /*important*/
    --background-tertiary: #f4f6f9; /*important*/
  }
  html {
    font-family: 'Public Sans';
  }
}

.pageDirection {
  direction: rtl;
}
/* body::-webkit-scrollbar {
  left: 0 !important;
} */

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 991.98px) {
  .onBoarding.container {
    max-width: 100%;
  }
}

.signin-signout-input {
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  padding: 10px 18px 10px 18px;
  border: 1px solid rgba(222, 221, 221, 0.913);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 14px;
  border: 3px solid var(--scrollbar-track-color);
}
.theme-slector {
  background-color: var(--background-primary);
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(222, 221, 221, 0.913);
}
.theme-slector option {
  background-color: var(--background-primary);
}

.signin-signout-input:focus {
  outline: none;
  border-color: #fff;
}
.signin-signout-input::placeholder {
  color: #fff;
}
.text-logo {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #00ab55, #408e91, #e49393, #d8d8d8);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.sidenav {
  height: 100%;
  /* width: 0; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* overflow-x: hidden; */
  transition: 0.5s;
  -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; */
  /* overflow: hidden; */
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenavItems {
}

.sidenavItems:hover > a {
  background-color: var(--theme-secondary);
  color: var(--theme-primary);
  font-weight: bold;
}
.sidenavItems:hover > a svg {
  fill: var(--theme-primary);
}

.min-h-inherit {
  min-height: inherit;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* padding-inline-start: 40px; */
}

.sidenav {
  height: 100vh;
  width: 0;
  /* position: fixed; */
  z-index: 13;
  top: 0;
  left: 0;
  /* overflow-x: hidden; */
  transition: 0.5s;
}

.stethoscopeBg {
  background-image: url('../src/assets/mainBg.jpg');
}

.MyCalendar {
  height: calc(100vh - 340px);
}

/* Calendar styles Start */

.rbc-off-range-bg {
  background-color: var(--background-secondary) !important;
}
.rbc-button-link {
  color: var(--text-secondary) !important;
}
.rbc-today {
  background-color: var(--layout-secondary) !important;
}
.rbc-now button {
  color: var(--text-primary) !important;
}
.rbc-btn-group button {
  color: var(--calendar-text) !important;
}
.rbc-btn-group button:hover {
  background-color: var(--text-primary) !important;
}
.rbc-active {
  background-color: var(--text-primary) !important;
}
.rbc-event {
  background-color: #183150 !important;
}
.rbc-event:focus {
  outline-color: green !important;
  border: none;
}
/* Calendar styles End */

/* scroll bar styles start */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-custom {
  overflow: overlay;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: transparent;
  opacity: 0 !important;
  border: 2px solid transparent;
}
.showScroll::-webkit-scrollbar-thumb {
  background-color: #b4bcc3 !important;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #b4bcc3 !important;
  border: 2px solid transparent !important;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}
/* scroll bar styles End */

/* start modal */
.modalBtn {
  box-shadow: var(--background-primary) 4px 4px 0 0, #000 4px 4px 0 1px;
}
/* .modalBtn:active {
     box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
   } */

.modalBtn:not([disabled]):active {
  box-shadow: var(--background-primary) 2px 2px 0 0, rgb(0, 0, 0) 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* End modal */

/*start calendar style */

.fc-popover {
  z-index: 40 !important;
}
/* .fc-header-toolbar{
    position: absolute;
    width: calc(100% - 55px);
    background-color: white;
    z-index: 10;
    padding-bottom: 25px;
    top: 68px;
  } */
/* @media only screen and (min-width:450px) and (max-width:639px){

    .fc-header-toolbar{
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      align-items: center;
      width: calc(100% - 25px);
      top: 50px;
    }
    .fc-header-toolbar div:nth-child(2){
      order: -1;
      width: 100%;
      text-align: center;
    }
  } */
/*end calendar style */

/* start staff */
.avatar-shape {
  -webkit-mask: url(https://minimals.cc/assets/shape_avatar.svg) center center /
    contain no-repeat;
}

/* End staff */

/* start login */
.login-layout {
  background: var(--bg-login-image) center center / cover no-repeat,
    url(../src/assets/overlay_2.jpg);
}

/* End login */

.btn-one-light {
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  background: #0071dc;
  border: 1px solid #0071dc;
  box-shadow: inset 0 0 0 0 #09e5ab;
  border-radius: 5px;
  min-width: 110px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a.header-login {
  background: #fff;
  border: 2px solid #09e5ab;
  border-radius: 4px;
  padding: 10px 15px !important;
  box-shadow: inset 0 0 0 0 #09e5ab;
  text-align: center;
  font-size: 15px;
  color: #09e5ab;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a.header-login:hover {
  background-color: #09e5ab;
  border-color: #09e5ab;
  color: #fff;
  box-shadow: inset 0 50px 0 0 #09e5ab;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-prev,
.slick-next,
.pharmacy-home-slider .swiper-button-prev,
.pharmacy-home-slider .swiper-button-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  box-shadow: 1px 6px 14px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  background: #fff;
  z-index: 9999;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus,
.pharmacy-home-slider .swiper-button-prev:hover,
.pharmacy-home-slider .swiper-button-next:hover {
  background-color: #0de0fe;
  color: #fff;
  opacity: 1;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before,
.pharmacy-home-slider .swiper-button-prev:hover:before,
.pharmacy-home-slider .swiper-button-next:hover:before {
  color: #fff;
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #383838;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: 0;
  z-index: 1;
}

.slick-dots li,
.pharmacy-home-slider .swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 5px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
}
.pharmacy-home-slider .swiper-pagination-bullet {
  background: #c0c0c0;
  width: 20px;
  height: 5px;
  opacity: 1;
  transform: scale(1) !important;
  left: 0 !important;
}
.pharmacy-home-slider
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0071dc;
  width: 20px;
  height: 5px;
  opacity: 1;
}
.pharmacy-home-slider-primary
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0de0fe;
}
.pharm-slider .slick-dots li {
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 2px 4px;
  cursor: pointer;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  -ms-transition: ease all 0.5s;
}
.pharm-slider .slick-dots {
  bottom: 50px;
}
.pharm-slider .slick-dots li.slick-active {
  width: 45px;
  background-color: #fff;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  -ms-transition: ease all 0.5s;
}
.pharm-slider .slick-dots button {
  border: 0;
  background: transparent;
}
.pharm-slider .slick-dots li.slick-active button {
  background-color: transparent;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #0071dc;
}

.doc-img img {
  border-radius: 4px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -ms-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  width: 100%;
}
.doc-img img {
  border-radius: 4px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -ms-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  width: 100%;
}
.className p {
}
.pro-content {
  padding: 15px 0 0;
}
.pro-content {
  padding: 20px 0 0;
  position: relative;
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.slick-prev {
  left: 0;
  z-index: 1;
}

/* Footer */
